<% provide(:title, @user.name) %>
<div class="row">
	<aside class="row">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>
<p>Email Address: <%= @user.email %></p>
<p>Created at: <%= @user.created_at %></p>
<p>Updated at: <%= @user.updated_at %></p>
<p>Time now: <%= Time.now %></p>